.test a {
  padding: 25px 10px;
  font-size: 14px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.test a:hover {
  background-color: rgba(128, 128, 128, 0.671);
}
.test a:first-child:hover {
  background-color: transparent;
}
.test a:last-child {
  color: white;
  background-color: #0d66d0;
  border-radius: 20px;
  padding: 8px 15px;
}
@media (max-width: 835px) {
  .right p {
    display: none !important;
  }
  .left a:first-child {
    display: flex !important;
  }
  .left p {
    font-size: 16px !important;
  }
  .left a {
    display: none !important;
  }
}
